/* Add CSS Styling */

.odd,
#three {
    background-color: rgb(255, 182, 193);
    font-family:    Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#three,
#fourth {
    font-size: 24px;
}

#fourth {
    background-color: rgb(126, 236, 126);
    font-weight: bold;
}

